<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hivescm.tms.finance.server.dao.mapper.finance.FinanceManageCashTransferMapper">
  <resultMap id="BaseResultMap" type="com.hivescm.tms.finance.server.dao.entity.finance.FinanceManageCashTransferDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="transfer_ordersource" jdbcType="VARCHAR" property="transferOrdersource" />
    <result column="transfer_type" jdbcType="INTEGER" property="transferType" />
    <result column="transfer_network_id" jdbcType="INTEGER" property="transferNetworkId" />
    <result column="transfer_account_belong" jdbcType="VARCHAR" property="transferAccountBelong" />
    <result column="transfer_account" jdbcType="VARCHAR" property="transferAccount" />
    <result column="transfer_amount" jdbcType="DECIMAL" property="transferAmount" />
    <result column="transfer_status" jdbcType="INTEGER" property="transferStatus" />
    <result column="income_network_id" jdbcType="INTEGER" property="incomeNetworkId" />
    <result column="income_account" jdbcType="VARCHAR" property="incomeAccount" />
    <result column="income_account_belong" jdbcType="VARCHAR" property="incomeAccountBelong" />
    <result column="income_time" jdbcType="BIGINT" property="incomeTime" />
    <result column="income_user_Id" jdbcType="INTEGER" property="incomeUserId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="createbill_time" jdbcType="BIGINT" property="createbillTime" />
    <result column="createbill_user_id" jdbcType="INTEGER" property="createbillUserId" />
    <result column="submit_time" jdbcType="BIGINT" property="submitTime" />
    <result column="submit_user_id" jdbcType="INTEGER" property="submitUserId" />
    <result column="cancel_submit_time" jdbcType="BIGINT" property="cancelSubmitTime" />
    <result column="cancel_submit_user_id" jdbcType="INTEGER" property="cancelSubmitUserId" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_user_id" jdbcType="INTEGER" property="updateUserId" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, company_id, transfer_ordersource, transfer_type, transfer_network_id, transfer_account_belong, 
    transfer_account, transfer_amount, transfer_status, income_network_id, income_account, 
    income_account_belong, income_time, income_user_Id, remark, createbill_time, createbill_user_id, 
    submit_time, submit_user_id, cancel_submit_time, cancel_submit_user_id, create_user_id, 
    create_time, update_user_id, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from finance_manage_cash_transfer
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from finance_manage_cash_transfer
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertBatch" parameterType="java.util.List">
    insert into finance_manage_cash_transfer (id, company_id, transfer_ordersource,
    transfer_type, transfer_network_id, transfer_account_belong,
    transfer_account, transfer_amount, transfer_status,
    income_network_id, income_account, income_account_belong,
    income_time, income_user_Id, remark,
    createbill_time, createbill_user_id, submit_time,
    submit_user_id, cancel_submit_time, cancel_submit_user_id,
    create_user_id, create_time, update_user_id,
    update_time)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.companyId,jdbcType=BIGINT}, #{item.transferOrdersource,jdbcType=VARCHAR},
      #{item.transferType,jdbcType=INTEGER}, #{item.transferNetworkId,jdbcType=INTEGER}, #{item.transferAccountBelong,jdbcType=VARCHAR},
      #{item.transferAccount,jdbcType=VARCHAR}, #{item.transferAmount,jdbcType=DECIMAL}, #{item.transferStatus,jdbcType=INTEGER},
      #{item.incomeNetworkId,jdbcType=INTEGER}, #{item.incomeAccount,jdbcType=VARCHAR}, #{item.incomeAccountBelong,jdbcType=VARCHAR},
      #{item.incomeTime,jdbcType=BIGINT}, #{item.incomeUserId,jdbcType=INTEGER}, #{item.remark,jdbcType=VARCHAR},
      #{item.createbillTime,jdbcType=BIGINT}, #{item.createbillUserId,jdbcType=INTEGER}, #{item.submitTime,jdbcType=BIGINT},
      #{item.submitUserId,jdbcType=INTEGER}, #{item.cancelSubmitTime,jdbcType=BIGINT}, #{item.cancelSubmitUserId,jdbcType=INTEGER},
      #{item.createUserId,jdbcType=INTEGER}, #{item.createTime,jdbcType=BIGINT}, #{item.updateUserId,jdbcType=INTEGER},
      #{item.updateTime,jdbcType=BIGINT})
    </foreach>
  </insert>

  <insert id="insert" parameterType="com.hivescm.tms.finance.server.dao.entity.finance.FinanceManageCashTransferDO">
    insert into finance_manage_cash_transfer (id, company_id, transfer_ordersource, 
      transfer_type, transfer_network_id, transfer_account_belong, 
      transfer_account, transfer_amount, transfer_status, 
      income_network_id, income_account, income_account_belong, 
      income_time, income_user_Id, remark, 
      createbill_time, createbill_user_id, submit_time, 
      submit_user_id, cancel_submit_time, cancel_submit_user_id, 
      create_user_id, create_time, update_user_id, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{companyId,jdbcType=BIGINT}, #{transferOrdersource,jdbcType=VARCHAR}, 
      #{transferType,jdbcType=INTEGER}, #{transferNetworkId,jdbcType=INTEGER}, #{transferAccountBelong,jdbcType=VARCHAR}, 
      #{transferAccount,jdbcType=VARCHAR}, #{transferAmount,jdbcType=DECIMAL}, #{transferStatus,jdbcType=INTEGER}, 
      #{incomeNetworkId,jdbcType=INTEGER}, #{incomeAccount,jdbcType=VARCHAR}, #{incomeAccountBelong,jdbcType=VARCHAR}, 
      #{incomeTime,jdbcType=BIGINT}, #{incomeUserId,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{createbillTime,jdbcType=BIGINT}, #{createbillUserId,jdbcType=INTEGER}, #{submitTime,jdbcType=BIGINT}, 
      #{submitUserId,jdbcType=INTEGER}, #{cancelSubmitTime,jdbcType=BIGINT}, #{cancelSubmitUserId,jdbcType=INTEGER}, 
      #{createUserId,jdbcType=INTEGER}, #{createTime,jdbcType=BIGINT}, #{updateUserId,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.hivescm.tms.finance.server.dao.entity.finance.FinanceManageCashTransferDO">
    insert into finance_manage_cash_transfer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="transferOrdersource != null">
        transfer_ordersource,
      </if>
      <if test="transferType != null">
        transfer_type,
      </if>
      <if test="transferNetworkId != null">
        transfer_network_id,
      </if>
      <if test="transferAccountBelong != null">
        transfer_account_belong,
      </if>
      <if test="transferAccount != null">
        transfer_account,
      </if>
      <if test="transferAmount != null">
        transfer_amount,
      </if>
      <if test="transferStatus != null">
        transfer_status,
      </if>
      <if test="incomeNetworkId != null">
        income_network_id,
      </if>
      <if test="incomeAccount != null">
        income_account,
      </if>
      <if test="incomeAccountBelong != null">
        income_account_belong,
      </if>
      <if test="incomeTime != null">
        income_time,
      </if>
      <if test="incomeUserId != null">
        income_user_Id,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createbillTime != null">
        createbill_time,
      </if>
      <if test="createbillUserId != null">
        createbill_user_id,
      </if>
      <if test="submitTime != null">
        submit_time,
      </if>
      <if test="submitUserId != null">
        submit_user_id,
      </if>
      <if test="cancelSubmitTime != null">
        cancel_submit_time,
      </if>
      <if test="cancelSubmitUserId != null">
        cancel_submit_user_id,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="transferOrdersource != null">
        #{transferOrdersource,jdbcType=VARCHAR},
      </if>
      <if test="transferType != null">
        #{transferType,jdbcType=INTEGER},
      </if>
      <if test="transferNetworkId != null">
        #{transferNetworkId,jdbcType=INTEGER},
      </if>
      <if test="transferAccountBelong != null">
        #{transferAccountBelong,jdbcType=VARCHAR},
      </if>
      <if test="transferAccount != null">
        #{transferAccount,jdbcType=VARCHAR},
      </if>
      <if test="transferAmount != null">
        #{transferAmount,jdbcType=DECIMAL},
      </if>
      <if test="transferStatus != null">
        #{transferStatus,jdbcType=INTEGER},
      </if>
      <if test="incomeNetworkId != null">
        #{incomeNetworkId,jdbcType=INTEGER},
      </if>
      <if test="incomeAccount != null">
        #{incomeAccount,jdbcType=VARCHAR},
      </if>
      <if test="incomeAccountBelong != null">
        #{incomeAccountBelong,jdbcType=VARCHAR},
      </if>
      <if test="incomeTime != null">
        #{incomeTime,jdbcType=BIGINT},
      </if>
      <if test="incomeUserId != null">
        #{incomeUserId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createbillTime != null">
        #{createbillTime,jdbcType=BIGINT},
      </if>
      <if test="createbillUserId != null">
        #{createbillUserId,jdbcType=INTEGER},
      </if>
      <if test="submitTime != null">
        #{submitTime,jdbcType=BIGINT},
      </if>
      <if test="submitUserId != null">
        #{submitUserId,jdbcType=INTEGER},
      </if>
      <if test="cancelSubmitTime != null">
        #{cancelSubmitTime,jdbcType=BIGINT},
      </if>
      <if test="cancelSubmitUserId != null">
        #{cancelSubmitUserId,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hivescm.tms.finance.server.dao.entity.finance.FinanceManageCashTransferDO">
    update finance_manage_cash_transfer
    <set>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=BIGINT},
      </if>
      <if test="transferOrdersource != null">
        transfer_ordersource = #{transferOrdersource,jdbcType=VARCHAR},
      </if>
      <if test="transferType != null">
        transfer_type = #{transferType,jdbcType=INTEGER},
      </if>
      <if test="transferNetworkId != null">
        transfer_network_id = #{transferNetworkId,jdbcType=INTEGER},
      </if>
      <if test="transferAccountBelong != null">
        transfer_account_belong = #{transferAccountBelong,jdbcType=VARCHAR},
      </if>
      <if test="transferAccount != null">
        transfer_account = #{transferAccount,jdbcType=VARCHAR},
      </if>
      <if test="transferAmount != null">
        transfer_amount = #{transferAmount,jdbcType=DECIMAL},
      </if>
      <if test="transferStatus != null">
        transfer_status = #{transferStatus,jdbcType=INTEGER},
      </if>
      <if test="incomeNetworkId != null">
        income_network_id = #{incomeNetworkId,jdbcType=INTEGER},
      </if>
      <if test="incomeAccount != null">
        income_account = #{incomeAccount,jdbcType=VARCHAR},
      </if>
      <if test="incomeAccountBelong != null">
        income_account_belong = #{incomeAccountBelong,jdbcType=VARCHAR},
      </if>
      <if test="incomeTime != null">
        income_time = #{incomeTime,jdbcType=BIGINT},
      </if>
      <if test="incomeUserId != null">
        income_user_Id = #{incomeUserId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createbillTime != null">
        createbill_time = #{createbillTime,jdbcType=BIGINT},
      </if>
      <if test="createbillUserId != null">
        createbill_user_id = #{createbillUserId,jdbcType=INTEGER},
      </if>
      <if test="submitTime != null">
        submit_time = #{submitTime,jdbcType=BIGINT},
      </if>
      <if test="submitUserId != null">
        submit_user_id = #{submitUserId,jdbcType=INTEGER},
      </if>
      <if test="cancelSubmitTime != null">
        cancel_submit_time = #{cancelSubmitTime,jdbcType=BIGINT},
      </if>
      <if test="cancelSubmitUserId != null">
        cancel_submit_user_id = #{cancelSubmitUserId,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateCancelCommit" parameterType="com.hivescm.tms.finance.server.dao.entity.finance.FinanceManageCashTransferDO">
    update finance_manage_cash_transfer
    set
      transfer_status = #{transferStatus,jdbcType=INTEGER},
      submit_time = #{submitTime,jdbcType=BIGINT},
      submit_user_id = #{submitUserId,jdbcType=INTEGER},
      cancel_submit_time = #{cancelSubmitTime,jdbcType=BIGINT},
      cancel_submit_user_id = #{cancelSubmitUserId,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hivescm.tms.finance.server.dao.entity.finance.FinanceManageCashTransferDO">
    update finance_manage_cash_transfer
    set company_id = #{companyId,jdbcType=BIGINT},
      transfer_ordersource = #{transferOrdersource,jdbcType=VARCHAR},
      transfer_type = #{transferType,jdbcType=INTEGER},
      transfer_network_id = #{transferNetworkId,jdbcType=INTEGER},
      transfer_account_belong = #{transferAccountBelong,jdbcType=VARCHAR},
      transfer_account = #{transferAccount,jdbcType=VARCHAR},
      transfer_amount = #{transferAmount,jdbcType=DECIMAL},
      transfer_status = #{transferStatus,jdbcType=INTEGER},
      income_network_id = #{incomeNetworkId,jdbcType=INTEGER},
      income_account = #{incomeAccount,jdbcType=VARCHAR},
      income_account_belong = #{incomeAccountBelong,jdbcType=VARCHAR},
      income_time = #{incomeTime,jdbcType=BIGINT},
      income_user_Id = #{incomeUserId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      createbill_time = #{createbillTime,jdbcType=BIGINT},
      createbill_user_id = #{createbillUserId,jdbcType=INTEGER},
      submit_time = #{submitTime,jdbcType=BIGINT},
      submit_user_id = #{submitUserId,jdbcType=INTEGER},
      cancel_submit_time = #{cancelSubmitTime,jdbcType=BIGINT},
      cancel_submit_user_id = #{cancelSubmitUserId,jdbcType=INTEGER},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=BIGINT},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>