<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.hivescm.tms.finance.server.dao.mapper.finance.FinanceManagePayMapper">

	<resultMap id="FinanceManagePayResultMap" type="com.hivescm.tms.finance.server.dao.entity.finance.FinanceManagePayDO">
        <result column="id" property="id"/>
        <result column="sheet_id" property="sheetId"/>
        <result column="data_source_sheet_id" property="dataSourceSheetId"/>
        <result column="company_id" property="companyId"/>
        <result column="sheet_type" property="sheetType"/>
        <result column="fee_type" property="feeType"/>
        <result column="payment_type" property="paymentType"/>
        <result column="payment_status" property="paymentStatus"/>
        <result column="business_date" property="businessDate"/>
        <result column="business_network_id" property="businessNetworkId"/>
        <result column="payment_network_id" property="paymentNetworkId"/>
        <result column="payee" property="payee"/>
        <result column="fee_remark" property="feeRemark"/>
        <result column="payable_amount" property="payableAmount"/>
        <result column="paid_amount" property="paidAmount"/>
        <result column="unpaid_amount" property="unpaidAmount"/>
        <result column="payment_fee" property="paymentFee"/>
        <result column="actual_paid_amount" property="actualPaidAmount"/>
		<result column="salesman_id" property="salesmanId"/>
		<result column="invoice_customer_vip_id" property="invoiceCustomerVipId"/>
        <result column="invoice_company_id" property="invoiceCompanyId"/>
        <result column="invoice_user_id" property="invoiceUserId"/>
        <result column="invoice_user_mobile" property="invoiceUserMobile"/>
        <result column="receipt_company_id" property="receiptCompanyId"/>
        <result column="receipt_user_id" property="receiptUserId"/>
        <result column="receipt_user_mobile" property="receiptUserMobile"/>
        <result column="vehicle_no" property="vehicleNo"/>
        <result column="driver_name" property="driverName"/>
        <result column="phone_no" property="phoneNo"/>
        <result column="post_confirmer_id" property="postConfirmerId"/>
        <result column="post_time" property="postTime"/>
        <result column="check_user_id" property="checkUserId"/>
        <result column="check_time" property="checkTime"/>
        <result column="cancel_check_user_id" property="cancelCheckUserId"/>
        <result column="cancel_check_time" property="cancelCheckTime"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="update_time" property="updateTime"/>
	</resultMap>

	<insert id="insertBatch" parameterType="java.util.List">
		insert into finance_manage_pay (
        	id ,
        	sheet_id,
        	data_source_sheet_id ,
        	company_id ,
        	sheet_type ,
        	fee_type ,
        	payment_type ,
        	payment_status ,
        	business_date ,
        	business_network_id ,
        	payment_network_id ,
        	payee ,
        	fee_remark ,
        	payable_amount ,
        	paid_amount ,
        	unpaid_amount ,
        	payment_fee ,
        	actual_paid_amount ,
		    salesman_id ,
		    invoice_customer_vip_id ,
        	invoice_company_id ,
        	invoice_user_id ,
        	invoice_user_mobile ,
        	receipt_company_id ,
        	receipt_user_id ,
        	receipt_user_mobile ,
        	vehicle_no ,
        	driver_name ,
        	phone_no ,
        	post_confirmer_id ,
        	post_time ,
        	check_user_id ,
        	check_time ,
        	cancel_check_user_id ,
        	cancel_check_time ,
        	create_user_id ,
        	create_time ,
        	update_user_id ,
        	update_time 
		) values
		<foreach collection="list" item="p" index="index" separator=",">
			(
				#{p.id} ,
				#{p.sheetId} ,
				#{p.dataSourceSheetId} ,
				#{p.companyId} ,
				#{p.sheetType} ,
				#{p.feeType} ,
				#{p.paymentType} ,
				#{p.paymentStatus} ,
				#{p.businessDate} ,
				#{p.businessNetworkId} ,
				#{p.paymentNetworkId} ,
				#{p.payee} ,
				#{p.feeRemark} ,
				#{p.payableAmount} ,
				#{p.paidAmount} ,
				#{p.unpaidAmount} ,
				#{p.paymentFee} ,
				#{p.actualPaidAmount} ,
			    #{p.salesmanId} ,
			    #{p.invoiceCustomerVipId} ,
				#{p.invoiceCompanyId} ,
				#{p.invoiceUserId} ,
				#{p.invoiceUserMobile} ,
				#{p.receiptCompanyId} ,
				#{p.receiptUserId} ,
				#{p.receiptUserMobile} ,
				#{p.vehicleNo} ,
				#{p.driverName} ,
				#{p.phoneNo} ,
				#{p.postConfirmerId} ,
				#{p.postTime} ,
				#{p.checkUserId} ,
				#{p.checkTime} ,
				#{p.cancelCheckUserId} ,
				#{p.cancelCheckTime} ,
				#{p.createUserId} ,
				#{p.createTime} ,
				#{p.updateUserId} ,
				#{p.updateTime} 
			)
		</foreach>
		
	</insert>

	<insert id="insertSelective" parameterType="com.hivescm.tms.finance.server.dao.entity.finance.FinanceManagePayDO">
        insert into finance_manage_pay 
        <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="id != null">
        	  id,
          </if>
          <if test="sheetId != null">
        	  sheet_id,
          </if>
          <if test="dataSourceSheetId != null">
        	  data_source_sheet_id,
          </if>
          <if test="companyId != null">
        	  company_id,
          </if>
          <if test="sheetType != null">
        	  sheet_type,
          </if>
          <if test="feeType != null">
        	  fee_type,
          </if>
          <if test="paymentType != null">
        	  payment_type,
          </if>
          <if test="paymentStatus != null">
        	  payment_status,
          </if>
          <if test="businessDate != null">
        	  business_date,
          </if>
          <if test="businessNetworkId != null">
        	  business_network_id,
          </if>
          <if test="paymentNetworkId != null">
        	  payment_network_id,
          </if>
          <if test="payee != null">
        	  payee,
          </if>
          <if test="feeRemark != null">
        	  fee_remark,
          </if>
          <if test="payableAmount != null">
        	  payable_amount,
          </if>
          <if test="paidAmount != null">
        	  paid_amount,
          </if>
          <if test="unpaidAmount != null">
        	  unpaid_amount,
          </if>
          <if test="paymentFee != null">
        	  payment_fee,
          </if>
          <if test="actualPaidAmount != null">
        	  actual_paid_amount,
          </if>
		  <if test="salesmanId != null">
			  salesman_id,
		  </if>
		  <if test="invoiceCustomerVipId != null">
			  invoice_customer_vip_id,
		  </if>
          <if test="invoiceCompanyId != null">
        	  invoice_company_id,
          </if>
          <if test="invoiceUserId != null">
        	  invoice_user_id,
          </if>
          <if test="invoiceUserMobile != null">
        	  invoice_user_mobile,
          </if>
          <if test="receiptCompanyId != null">
        	  receipt_company_id,
          </if>
          <if test="receiptUserId != null">
        	  receipt_user_id,
          </if>
          <if test="receiptUserMobile != null">
        	  receipt_user_mobile,
          </if>
          <if test="vehicleNo != null">
        	  vehicle_no,
          </if>
          <if test="driverName != null">
        	  driver_name,
          </if>
          <if test="phoneNo != null">
        	  phone_no,
          </if>
          <if test="postConfirmerId != null">
        	  post_confirmer_id,
          </if>
          <if test="postTime != null">
        	  post_time,
          </if>
          <if test="checkUserId != null">
        	  check_user_id,
          </if>
          <if test="checkTime != null">
        	  check_time,
          </if>
          <if test="cancelCheckUserId != null">
        	  cancel_check_user_id,
          </if>
          <if test="cancelCheckTime != null">
        	  cancel_check_time,
          </if>
          <if test="createUserId != null">
        	  create_user_id,
          </if>
          <if test="createTime != null">
        	  create_time,
          </if>
          <if test="updateUserId != null">
        	  update_user_id,
          </if>
          <if test="updateTime != null">
        	  update_time,
          </if>
        </trim>
         values 
        <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="id != null">
        	  #{id},
          </if>
          <if test="sheetId != null">
        	  #{sheetId},
          </if>
          <if test="dataSourceSheetId != null">
        	  #{dataSourceSheetId},
          </if>
          <if test="companyId != null">
        	  #{companyId},
          </if>
          <if test="sheetType != null">
        	  #{sheetType},
          </if>
          <if test="feeType != null">
        	  #{feeType},
          </if>
          <if test="paymentType != null">
        	  #{paymentType},
          </if>
          <if test="paymentStatus != null">
        	  #{paymentStatus},
          </if>
          <if test="businessDate != null">
        	  #{businessDate},
          </if>
          <if test="businessNetworkId != null">
        	  #{businessNetworkId},
          </if>
          <if test="paymentNetworkId != null">
        	  #{paymentNetworkId},
          </if>
          <if test="payee != null">
        	  #{payee},
          </if>
          <if test="feeRemark != null">
        	  #{feeRemark},
          </if>
          <if test="payableAmount != null">
        	  #{payableAmount},
          </if>
          <if test="paidAmount != null">
        	  #{paidAmount},
          </if>
          <if test="unpaidAmount != null">
        	  #{unpaidAmount},
          </if>
          <if test="paymentFee != null">
        	  #{paymentFee},
          </if>
          <if test="actualPaidAmount != null">
        	  #{actualPaidAmount},
          </if>
	      <if test="salesmanId != null">
			  #{salesmanId},
		  </if>
		  <if test="invoiceCustomerVipId != null">
			  #{invoiceCustomerVipId},
		  </if>
          <if test="invoiceCompanyId != null">
        	  #{invoiceCompanyId},
          </if>
          <if test="invoiceUserId != null">
        	  #{invoiceUserId},
          </if>
          <if test="invoiceUserMobile != null">
        	  #{invoiceUserMobile},
          </if>
          <if test="receiptCompanyId != null">
        	  #{receiptCompanyId},
          </if>
          <if test="receiptUserId != null">
        	  #{receiptUserId},
          </if>
          <if test="receiptUserMobile != null">
        	  #{receiptUserMobile},
          </if>
          <if test="vehicleNo != null">
        	  #{vehicleNo},
          </if>
          <if test="driverName != null">
        	  #{driverName},
          </if>
          <if test="phoneNo != null">
        	  #{phoneNo},
          </if>
          <if test="postConfirmerId != null">
        	  #{postConfirmerId},
          </if>
          <if test="postTime != null">
        	  #{postTime},
          </if>
          <if test="checkUserId != null">
        	  #{checkUserId},
          </if>
          <if test="checkTime != null">
        	  #{checkTime},
          </if>
          <if test="cancelCheckUserId != null">
        	  #{cancelCheckUserId},
          </if>
          <if test="cancelCheckTime != null">
        	  #{cancelCheckTime},
          </if>
          <if test="createUserId != null">
        	  #{createUserId},
          </if>
          <if test="createTime != null">
        	  #{createTime},
          </if>
          <if test="updateUserId != null">
        	  #{updateUserId},
          </if>
          <if test="updateTime != null">
        	  #{updateTime},
          </if>
        </trim>
	</insert>
	
	<update id="updateCheckStatusBatch" parameterType="com.hivescm.tms.api.dto.es.finance.request.FinanceCheckReqDTO">
		update finance_manage_pay set
	      payment_status=#{paymentStatus,jdbcType=INTEGER},
	      check_user_id=#{user,jdbcType=INTEGER},
	      check_time=#{time,jdbcType=BIGINT},
	      update_user_id=#{user,jdbcType=INTEGER},
	      update_time=#{time,jdbcType=BIGINT}
	    where id in
	    (<foreach collection="ids" item="item" separator=",">
	    	#{item,jdbcType=BIGINT}
	    </foreach>)
	</update>
	
	<update id="updateCancleCheckStatusBatch" parameterType="com.hivescm.tms.api.dto.es.finance.request.FinanceCheckReqDTO">
		update finance_manage_pay set
	      payment_status=#{paymentStatus,jdbcType=INTEGER},
	      cancel_check_user_id=#{user,jdbcType=INTEGER},
	      cancel_check_time=#{time,jdbcType=BIGINT},
	      update_user_id=#{user,jdbcType=INTEGER},
	      update_time=#{time,jdbcType=BIGINT}
	    where id in
	    (<foreach collection="ids" item="item" separator=",">
	    	#{item,jdbcType=BIGINT}
	    </foreach>)
	</update>
	
	<update id="updatePostConfirmeBatch" parameterType="com.hivescm.tms.api.dto.es.finance.request.FinanceCheckReqDTO">
		update finance_manage_pay set
	      post_confirmer_id=#{user,jdbcType=INTEGER},
	      post_time=#{time,jdbcType=BIGINT},
	      update_user_id=#{user,jdbcType=INTEGER},
	      update_time=#{time,jdbcType=BIGINT}
	    where id in
	    (<foreach collection="ids" item="item" separator=",">
	    	#{item,jdbcType=BIGINT}
	    </foreach>)
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.hivescm.tms.finance.server.dao.entity.finance.FinanceManagePayDO">
		update finance_manage_pay
		<set>
			<if test="id != null">
				id = #{id},
			</if>
			<if test="sheetId != null">
				sheet_id = #{sheetId},
			</if>
			<if test="dataSourceSheetId != null">
				data_source_sheet_id = #{dataSourceSheetId},
			</if>
			<if test="companyId != null">
				company_id = #{companyId},
			</if>
			<if test="sheetType != null">
				sheet_type = #{sheetType},
			</if>
			<if test="feeType != null">
				fee_type = #{feeType},
			</if>
			<if test="paymentType != null">
				payment_type = #{paymentType},
			</if>
			<if test="paymentStatus != null">
				payment_status = #{paymentStatus},
			</if>
			<if test="businessDate != null">
				business_date = #{businessDate},
			</if>
			<if test="businessNetworkId != null">
				business_network_id = #{businessNetworkId},
			</if>
			<if test="paymentNetworkId != null">
				payment_network_id = #{paymentNetworkId},
			</if>
			<if test="payee != null">
				payee = #{payee},
			</if>
			<if test="feeRemark != null">
				fee_remark = #{feeRemark},
			</if>
			<if test="payableAmount != null">
				payable_amount = #{payableAmount},
			</if>
			<if test="paidAmount != null">
				paid_amount = #{paidAmount},
			</if>
			<if test="unpaidAmount != null">
				unpaid_amount = #{unpaidAmount},
			</if>
			<if test="paymentFee != null">
				payment_fee = #{paymentFee},
			</if>
			<if test="actualPaidAmount != null">
				actual_paid_amount = #{actualPaidAmount},
			</if>
			<if test="salesmanId != null">
				salesman_id,
			</if>
			<if test="invoiceCustomerVipId != null">
				invoice_customer_vip_id,
			</if>
			<if test="invoiceCompanyId != null">
				invoice_company_id = #{invoiceCompanyId},
			</if>
			<if test="invoiceUserId != null">
				invoice_user_id = #{invoiceUserId},
			</if>
			<if test="invoiceUserMobile != null">
				invoice_user_mobile = #{invoiceUserMobile},
			</if>
			<if test="receiptCompanyId != null">
				receipt_company_id = #{receiptCompanyId},
			</if>
			<if test="receiptUserId != null">
				receipt_user_id = #{receiptUserId},
			</if>
			<if test="receiptUserMobile != null">
				receipt_user_mobile = #{receiptUserMobile},
			</if>
			<if test="vehicleNo != null">
				vehicle_no = #{vehicleNo},
			</if>
			<if test="driverName != null">
				driver_name = #{driverName},
			</if>
			<if test="phoneNo != null">
				phone_no = #{phoneNo},
			</if>
			<if test="postConfirmerId != null">
				post_confirmer_id = #{postConfirmerId},
			</if>
			<if test="postTime != null">
				post_time = #{postTime},
			</if>
			<if test="checkUserId != null">
				check_user_id = #{checkUserId},
			</if>
			<if test="checkTime != null">
				check_time = #{checkTime},
			</if>
			<if test="cancelCheckUserId != null">
				cancel_check_user_id = #{cancelCheckUserId},
			</if>
			<if test="cancelCheckTime != null">
				cancel_check_time = #{cancelCheckTime},
			</if>
			<if test="createUserId != null">
				create_user_id = #{createUserId},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
			<if test="updateUserId != null">
				update_user_id = #{updateUserId},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime},
			</if>
		</set>
		where
		id = #{id}
	</update>
	
	<delete id="deleteByCode" parameterType="com.hivescm.tms.api.dto.es.finance.request.FinanceDeleteReqDTO">
		delete from finance_manage_pay 
		<where>
    		<if test="code != null" >
                data_source_sheet_id = #{code,jdbcType=VARCHAR}
            </if>
            <if test="waybillId != null" >
                and sheet_id = #{waybillId,jdbcType=BIGINT}
            </if>
    	</where>
	</delete>
	<delete id="deleteBySheetIdFeeType" parameterType="com.hivescm.tms.finance.server.dao.entity.finance.FinanceManagePayDO">
		delete from finance_manage_pay
		<where>
			<if test="sheetId != null" >
				sheet_id = #{sheetId}
			</if>
			<if test="feeType != null" >
				and fee_type = #{feeType}
			</if>
			<if test="dataSourceSheetId != null">
				and data_source_sheet_id = #{dataSourceSheetId}
			</if>
			<if test="sheetType != null">
				and sheet_type = #{sheetType}
			</if>
		</where>
	</delete>
</mapper>

