<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hivescm.tms.finance.server.dao.mapper.finance.FinanceManageGoodsGrantMapper">
  <resultMap id="BaseResultMap" type="com.hivescm.tms.finance.server.dao.entity.finance.FinanceManageGoodsGrantDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="pay_branch_id" jdbcType="INTEGER" property="payBranchId" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="confirm_billway_status" jdbcType="INTEGER" property="confirmBillwayStatus" />
    <result column="send_status" jdbcType="INTEGER" property="sendStatus" />
    <result column="acount_status" jdbcType="INTEGER" property="acountStatus" />
    <result column="waybill_id" jdbcType="BIGINT" property="waybillId" />
    <result column="order_source_code" jdbcType="VARCHAR" property="orderSourceCode" />
    <result column="receive_name" jdbcType="VARCHAR" property="receiveName" />
    <result column="send_amount" jdbcType="DECIMAL" property="sendAmount" />
    <result column="unsend_amount" jdbcType="DECIMAL" property="unsendAmount" />
    <result column="goods_amount" jdbcType="DECIMAL" property="goodsAmount" />
    <result column="ungoods_amount" jdbcType="DECIMAL" property="ungoodsAmount" />
    <result column="goods_fee" jdbcType="DECIMAL" property="goodsFee" />
    <result column="un_goods_fee" jdbcType="DECIMAL" property="ungoodsFee" />
    <result column="pay_fee" jdbcType="DECIMAL" property="payFee" />
    <result column="actual_amount" jdbcType="DECIMAL" property="actualAmount" />
    <result column="remit_branch_id" jdbcType="INTEGER" property="remitBranchId" />
    <result column="remit_out_account" jdbcType="VARCHAR" property="remitOutAccount" />
    <result column="remit_in_account" jdbcType="VARCHAR" property="remitInAccount" />
    <result column="remit_remark" jdbcType="VARCHAR" property="remitRemark" />
    <result column="confirm_billway_user_id" jdbcType="INTEGER" property="confirmBillwayUserId" />
    <result column="confirm_billway_time" jdbcType="BIGINT" property="confirmBillwayTime" />
    <result column="send_user_id" jdbcType="INTEGER" property="sendUserId" />
    <result column="send_time" jdbcType="BIGINT" property="sendTime" />
    <result column="confirm_account_user_id" jdbcType="INTEGER" property="confirmAccountUserId" />
    <result column="confirm_account_time" jdbcType="BIGINT" property="confirmAccountTime" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_user_id" jdbcType="INTEGER" property="updateUserId" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pay_branch_id, company_id,confirm_billway_status, send_status, acount_status, waybill_id, order_source_code,
    receive_name, send_amount, unsend_amount, goods_amount, ungoods_amount, goods_fee,un_goods_fee,
    pay_fee, actual_amount, remit_branch_id, remit_out_account, remit_in_account, remit_remark, 
    confirm_billway_user_id, confirm_billway_time, send_user_id, send_time, confirm_account_user_id, 
    confirm_account_time, create_user_id, create_time, update_user_id, update_time
  </sql>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from finance_manage_goods_grant
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hivescm.tms.finance.server.dao.entity.finance.FinanceManageGoodsGrantDO">
      insert into finance_manage_goods_grant (id, pay_branch_id, company_id,
      confirm_billway_status, send_status, acount_status,
      waybill_id, order_source_code, receive_name,
      send_amount, unsend_amount, goods_amount,
      ungoods_amount, goods_fee,un_goods_fee, pay_fee,
      actual_amount, remit_branch_id, remit_out_account,
      remit_in_account, remit_remark, confirm_billway_user_id,
      confirm_billway_time, send_user_id, send_time,
      confirm_account_user_id, confirm_account_time,
      create_user_id, create_time, update_user_id,
      update_time)
    values (#{id,jdbcType=BIGINT}, #{payBranchId,jdbcType=INTEGER}, #{companyId,jdbcType=BIGINT},
      #{confirmBillwayStatus,jdbcType=INTEGER}, #{sendStatus,jdbcType=INTEGER}, #{acountStatus,jdbcType=INTEGER},
      #{waybillId,jdbcType=BIGINT}, #{orderSourceCode,jdbcType=VARCHAR}, #{receiveName,jdbcType=VARCHAR},
      #{sendAmount,jdbcType=DECIMAL}, #{unsendAmount,jdbcType=DECIMAL}, #{goodsAmount,jdbcType=DECIMAL},
      #{ungoodsAmount,jdbcType=DECIMAL}, #{goodsFee,jdbcType=DECIMAL},#{ungoodsFee,jdbcType=DECIMAL}, #{payFee,jdbcType=DECIMAL},
      #{actualAmount,jdbcType=DECIMAL}, #{remitBranchId,jdbcType=INTEGER}, #{remitOutAccount,jdbcType=VARCHAR},
      #{remitInAccount,jdbcType=VARCHAR}, #{remitRemark,jdbcType=VARCHAR}, #{confirmBillwayUserId,jdbcType=INTEGER},
      #{confirmBillwayTime,jdbcType=BIGINT}, #{sendUserId,jdbcType=INTEGER}, #{sendTime,jdbcType=BIGINT},
      #{confirmAccountUserId,jdbcType=INTEGER}, #{confirmAccountTime,jdbcType=BIGINT},
      #{createUserId,jdbcType=INTEGER}, #{createTime,jdbcType=BIGINT}, #{updateUserId,jdbcType=INTEGER},
      #{updateTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertBatch" parameterType="java.util.List">
      insert into finance_manage_goods_grant (id, pay_branch_id, company_id,
      confirm_billway_status, send_status, acount_status,
      waybill_id, order_source_code, receive_name,
      send_amount, unsend_amount, goods_amount,
      ungoods_amount, goods_fee,un_goods_fee, pay_fee,
      actual_amount, remit_branch_id, remit_out_account,
      remit_in_account, remit_remark, confirm_billway_user_id,
      confirm_billway_time, send_user_id, send_time,
      confirm_account_user_id, confirm_account_time,
      create_user_id, create_time, update_user_id,
      update_time)
    values
     <foreach collection="list" item="p" index="index" separator=",">
    (#{p.id,jdbcType=BIGINT}, #{p.payBranchId,jdbcType=INTEGER}, #{p.companyId,jdbcType=BIGINT},
      #{p.confirmBillwayStatus,jdbcType=INTEGER}, #{p.sendStatus,jdbcType=INTEGER}, #{p.acountStatus,jdbcType=INTEGER},
      #{p.waybillId,jdbcType=BIGINT}, #{p.orderSourceCode,jdbcType=VARCHAR}, #{p.receiveName,jdbcType=VARCHAR},
      #{p.sendAmount,jdbcType=DECIMAL}, #{p.unsendAmount,jdbcType=DECIMAL}, #{p.goodsAmount,jdbcType=DECIMAL},
      #{p.ungoodsAmount,jdbcType=DECIMAL}, #{p.goodsFee,jdbcType=DECIMAL},#{p.ungoodsFee,jdbcType=DECIMAL}, #{p.payFee,jdbcType=DECIMAL},
      #{p.actualAmount,jdbcType=DECIMAL}, #{p.remitBranchId,jdbcType=INTEGER}, #{p.remitOutAccount,jdbcType=VARCHAR},
      #{p.remitInAccount,jdbcType=VARCHAR}, #{p.remitRemark,jdbcType=VARCHAR}, #{p.confirmBillwayUserId,jdbcType=INTEGER},
      #{p.confirmBillwayTime,jdbcType=BIGINT}, #{p.sendUserId,jdbcType=INTEGER}, #{p.sendTime,jdbcType=BIGINT},
      #{p.confirmAccountUserId,jdbcType=INTEGER}, #{p.confirmAccountTime,jdbcType=BIGINT},
      #{p.createUserId,jdbcType=INTEGER}, #{p.createTime,jdbcType=BIGINT}, #{p.updateUserId,jdbcType=INTEGER},
      #{p.updateTime,jdbcType=BIGINT})
      </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.hivescm.tms.finance.server.dao.entity.finance.FinanceManageGoodsGrantDO">
    insert into finance_manage_goods_grant
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="payBranchId != null">
        pay_branch_id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="confirmBillwayStatus != null">
        confirm_billway_status,
      </if>
      <if test="sendStatus != null">
        send_status,
      </if>
      <if test="acountStatus != null">
        acount_status,
      </if>
      <if test="waybillId != null">
        waybill_id,
      </if>
      <if test="orderSourceCode != null">
        order_source_code,
      </if>
      <if test="receiveName != null">
        receive_name,
      </if>
      <if test="sendAmount != null">
        send_amount,
      </if>
      <if test="unsendAmount != null">
        unsend_amount,
      </if>
      <if test="goodsAmount != null">
        goods_amount,
      </if>
      <if test="ungoodsAmount != null">
        ungoods_amount,
      </if>
      <if test="goodsFee != null">
        goods_fee,
      </if>
      <if test="ungoodsFee != null">
        un_goods_fee,
      </if>
      <if test="payFee != null">
        pay_fee,
      </if>
      <if test="actualAmount != null">
        actual_amount,
      </if>
      <if test="remitBranchId != null">
        remit_branch_id,
      </if>
      <if test="remitOutAccount != null">
        remit_out_account,
      </if>
      <if test="remitInAccount != null">
        remit_in_account,
      </if>
      <if test="remitRemark != null">
        remit_remark,
      </if>
      <if test="confirmBillwayUserId != null">
        confirm_billway_user_id,
      </if>
      <if test="confirmBillwayTime != null">
        confirm_billway_time,
      </if>
      <if test="sendUserId != null">
        send_user_id,
      </if>
      <if test="sendTime != null">
        send_time,
      </if>
      <if test="confirmAccountUserId != null">
        confirm_account_user_id,
      </if>
      <if test="confirmAccountTime != null">
        confirm_account_time,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="payBranchId != null">
        #{payBranchId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="confirmBillwayStatus != null">
        #{confirmBillwayStatus,jdbcType=INTEGER},
      </if>
      <if test="sendStatus != null">
        #{sendStatus,jdbcType=INTEGER},
      </if>
      <if test="acountStatus != null">
        #{acountStatus,jdbcType=INTEGER},
      </if>
      <if test="waybillId != null">
        #{waybillId,jdbcType=BIGINT},
      </if>
      <if test="orderSourceCode != null">
        #{orderSourceCode,jdbcType=VARCHAR},
      </if>
      <if test="receiveName != null">
        #{receiveName,jdbcType=VARCHAR},
      </if>
      <if test="sendAmount != null">
        #{sendAmount,jdbcType=DECIMAL},
      </if>
      <if test="unsendAmount != null">
        #{unsendAmount,jdbcType=DECIMAL},
      </if>
      <if test="goodsAmount != null">
        #{goodsAmount,jdbcType=DECIMAL},
      </if>
      <if test="ungoodsAmount != null">
        #{ungoodsAmount,jdbcType=DECIMAL},
      </if>
      <if test="goodsFee != null">
        #{goodsFee,jdbcType=DECIMAL},
      </if>
      <if test="ungoodsFee != null">
        #{ungoodsFee,jdbcType=DECIMAL},
      </if>
      <if test="payFee != null">
        #{payFee,jdbcType=DECIMAL},
      </if>
      <if test="actualAmount != null">
        #{actualAmount,jdbcType=DECIMAL},
      </if>
      <if test="remitBranchId != null">
        #{remitBranchId,jdbcType=INTEGER},
      </if>
      <if test="remitOutAccount != null">
        #{remitOutAccount,jdbcType=VARCHAR},
      </if>
      <if test="remitInAccount != null">
        #{remitInAccount,jdbcType=VARCHAR},
      </if>
      <if test="remitRemark != null">
        #{remitRemark,jdbcType=VARCHAR},
      </if>
      <if test="confirmBillwayUserId != null">
        #{confirmBillwayUserId,jdbcType=INTEGER},
      </if>
      <if test="confirmBillwayTime != null">
        #{confirmBillwayTime,jdbcType=BIGINT},
      </if>
      <if test="sendUserId != null">
        #{sendUserId,jdbcType=INTEGER},
      </if>
      <if test="sendTime != null">
        #{sendTime,jdbcType=BIGINT},
      </if>
      <if test="confirmAccountUserId != null">
        #{confirmAccountUserId,jdbcType=INTEGER},
      </if>
      <if test="confirmAccountTime != null">
        #{confirmAccountTime,jdbcType=BIGINT},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hivescm.tms.finance.server.dao.entity.finance.FinanceManageGoodsGrantDO">
    update finance_manage_goods_grant
    <set>
      <if test="payBranchId != null">
        pay_branch_id = #{payBranchId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=BIGINT},
      </if>
      <if test="confirmBillwayStatus != null">
        confirm_billway_status = #{confirmBillwayStatus,jdbcType=INTEGER},
      </if>
      <if test="sendStatus != null">
        send_status = #{sendStatus,jdbcType=INTEGER},
      </if>
      <if test="acountStatus != null">
        acount_status = #{acountStatus,jdbcType=INTEGER},
      </if>
      <if test="waybillId != null">
        waybill_id = #{waybillId,jdbcType=BIGINT},
      </if>
      <if test="orderSourceCode != null">
        order_source_code = #{orderSourceCode,jdbcType=VARCHAR},
      </if>
      <if test="receiveName != null">
        receive_name = #{receiveName,jdbcType=VARCHAR},
      </if>
      <if test="sendAmount != null">
        send_amount = #{sendAmount,jdbcType=DECIMAL},
      </if>
      <if test="unsendAmount != null">
        unsend_amount = #{unsendAmount,jdbcType=DECIMAL},
      </if>
      <if test="goodsAmount != null">
        goods_amount = #{goodsAmount,jdbcType=DECIMAL},
      </if>
      <if test="ungoodsAmount != null">
        ungoods_amount = #{ungoodsAmount,jdbcType=DECIMAL},
      </if>
      <if test="goodsFee != null">
        goods_fee = #{goodsFee,jdbcType=DECIMAL},
      </if>
      <if test="ungoodsFee != null">
        un_goods_fee = #{ungoodsFee,jdbcType=DECIMAL},
      </if>
      <if test="payFee != null">
        pay_fee = #{payFee,jdbcType=DECIMAL},
      </if>
      <if test="actualAmount != null">
        actual_amount = #{actualAmount,jdbcType=DECIMAL},
      </if>
      <if test="remitBranchId != null">
        remit_branch_id = #{remitBranchId,jdbcType=INTEGER},
      </if>
      <if test="remitOutAccount != null">
        remit_out_account = #{remitOutAccount,jdbcType=VARCHAR},
      </if>
      <if test="remitInAccount != null">
        remit_in_account = #{remitInAccount,jdbcType=VARCHAR},
      </if>
      <if test="remitRemark != null">
        remit_remark = #{remitRemark,jdbcType=VARCHAR},
      </if>
      <if test="confirmBillwayUserId != null">
        confirm_billway_user_id = #{confirmBillwayUserId,jdbcType=INTEGER},
      </if>
      <if test="confirmBillwayTime != null">
        confirm_billway_time = #{confirmBillwayTime,jdbcType=BIGINT},
      </if>
      <if test="sendUserId != null">
        send_user_id = #{sendUserId,jdbcType=INTEGER},
      </if>
      <if test="sendTime != null">
        send_time = #{sendTime,jdbcType=BIGINT},
      </if>
      <if test="confirmAccountUserId != null">
        confirm_account_user_id = #{confirmAccountUserId,jdbcType=INTEGER},
      </if>
      <if test="confirmAccountTime != null">
        confirm_account_time = #{confirmAccountTime,jdbcType=BIGINT},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hivescm.tms.finance.server.dao.entity.finance.FinanceManageGoodsGrantDO">
    update finance_manage_goods_grant
    set pay_branch_id = #{payBranchId,jdbcType=INTEGER},
      company_id = #{companyId,jdbcType=BIGINT},
      confirm_billway_status = #{confirmBillwayStatus,jdbcType=INTEGER},
      send_status = #{sendStatus,jdbcType=INTEGER},
      acount_status = #{acountStatus,jdbcType=INTEGER},
      waybill_id = #{waybillId,jdbcType=BIGINT},
      order_source_code = #{orderSourceCode,jdbcType=VARCHAR},
      receive_name = #{receiveName,jdbcType=VARCHAR},
      send_amount = #{sendAmount,jdbcType=DECIMAL},
      unsend_amount = #{unsendAmount,jdbcType=DECIMAL},
      goods_amount = #{goodsAmount,jdbcType=DECIMAL},
      ungoods_amount = #{ungoodsAmount,jdbcType=DECIMAL},
      goods_fee = #{goodsFee,jdbcType=DECIMAL},
      un_goods_fee = #{ungoodsFee,jdbcType=DECIMAL},
      pay_fee = #{payFee,jdbcType=DECIMAL},
      actual_amount = #{actualAmount,jdbcType=DECIMAL},
      remit_branch_id = #{remitBranchId,jdbcType=INTEGER},
      remit_out_account = #{remitOutAccount,jdbcType=VARCHAR},
      remit_in_account = #{remitInAccount,jdbcType=VARCHAR},
      remit_remark = #{remitRemark,jdbcType=VARCHAR},
      confirm_billway_user_id = #{confirmBillwayUserId,jdbcType=INTEGER},
      confirm_billway_time = #{confirmBillwayTime,jdbcType=BIGINT},
      send_user_id = #{sendUserId,jdbcType=INTEGER},
      send_time = #{sendTime,jdbcType=BIGINT},
      confirm_account_user_id = #{confirmAccountUserId,jdbcType=INTEGER},
      confirm_account_time = #{confirmAccountTime,jdbcType=BIGINT},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=BIGINT},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id = "updateBatch">
  	UPDATE finance_manage_goods_grant
        <trim prefix="set" suffixOverrides=",">
            <trim prefix=" goods_amount = case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.goodsAmount!=null">
                        when id = #{i.id, jdbcType = BIGINT} then #{i.goodsAmount, jdbcType = DECIMAL}
                    </if>
                </foreach>
            </trim>
            <trim prefix=" ungoods_amount = case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.ungoodsAmount!=null">
                        when id = #{i.id, jdbcType = BIGINT} then #{i.ungoodsAmount, jdbcType = DECIMAL}
                    </if>
                </foreach>
            </trim>
        </trim>
        WHERE
        <foreach collection="list" separator="or" item="i" index="index">
            id = #{i.id, jdbcType = BIGINT}
        </foreach>
  </update>
  <update id="updateBatchPayBranchId">
    UPDATE finance_manage_goods_grant
    <trim prefix="set" suffixOverrides=",">
      <trim prefix=" pay_branch_id = case" suffix="end,">
        <foreach collection="list" item="i" index="index">
          <if test="i.payBranchId!=null">
            when id = #{i.id, jdbcType = BIGINT} then #{i.payBranchId, jdbcType = INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix=" remit_branch_id = case" suffix="end,">
        <foreach collection="list" item="i" index="index">
          <if test="i.remitBranchId!=null">
            when id = #{i.id, jdbcType = BIGINT} then #{i.remitBranchId, jdbcType = INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix=" remit_out_account = case" suffix="end,">
        <foreach collection="list" item="i" index="index">
          <if test="i.remitOutAccount!=null">
            when id = #{i.id, jdbcType = BIGINT} then #{i.remitOutAccount, jdbcType = INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix=" remit_in_account = case" suffix="end,">
        <foreach collection="list" item="i" index="index">
          <if test="i.remitInAccount!=null">
            when id = #{i.id, jdbcType = BIGINT} then #{i.remitInAccount, jdbcType = INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix=" remit_remark = case" suffix="end,">
        <foreach collection="list" item="i" index="index">
          <if test="i.remitRemark!=null">
            when id = #{i.id, jdbcType = BIGINT} then #{i.remitRemark, jdbcType = INTEGER}
          </if>
        </foreach>
      </trim>
    </trim>
    WHERE
    <foreach collection="list" separator="or" item="i" index="index">
      id = #{i.id, jdbcType = BIGINT}
    </foreach>
  </update>
  <delete id="delete">
  	delete from finance_manage_goods_grant
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <delete id="deleteBatch">
   	delete from finance_manage_goods_grant where id in
   		<foreach item="i" collection="list" open="(" separator="," close=")">
            #{i.id, jdbcType = BIGINT}
        </foreach>
  </delete>
  <update id="updateBatchAcountStatus" parameterType="com.hivescm.tms.finance.server.dao.entity.finance.FinanceManageGoodsGrantDO">
    update finance_manage_goods_grant set
    acount_status = #{acountStatus},
    confirm_account_user_id = #{confirmAccountUserId},
    confirm_account_time = #{confirmAccountTime},
    update_user_id = #{updateUserId},
    update_time = #{updateTime}
    where id in
    (<foreach collection="idList" item="id" separator=",">
      #{id}
    </foreach>)
  </update>
</mapper>